build/
*.gch
autom4te.cache/
.*.swp
*.o
*.d
.gdb_history
.#*
*~

# Build artifacts
*.elf
*.deb
*.map.html
workspace/q15demo
workspace/q15bench
workspace/q15packed
workspace/hello
examples/q15demo
examples/q15bench
examples/q15packed
examples/hello
examples/memdemo.elf

# External toolchains
incore-toolchain/
